@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --mainBg: lightyellow;
}
$text : bolder;
body{
    background-color: var(--mainBg);
    color: black;
    font-weight: $text;

}
.container{
  display:flex;
  padding: 1rem;
  margin: 10px;
h1{
    font-size: 50px;
    text-align: center;
    @apply px-4 py-2 rounded font-semibold bg-gray-200 text-black;
}

}